In [1]:
import os
import random
import seaborn as sns
import cv2
# General packages
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import PIL

import nilearn as nl
import nilearn.plotting as nlplt
import nibabel as nib
#import plotly.graph_objs as go
from IPython.display import Image, display
import warnings
warnings.filterwarnings("ignore")

In [2]:
BASE_PATH = './'

print('Reading data...')
loading_data = pd.read_csv(f'{BASE_PATH}/data/loading.csv')
trainscores_data = pd.read_csv(f'{BASE_PATH}/data/train_scores.csv')
fnc_data = pd.read_csv(f'{BASE_PATH}/data/fnc.csv')

Reading data...

In [3]:
print('--------------------------------------------')
print("* Shape of loading_data :", loading_data.shape)
print('--------------------------------------------')
display(loading_data.head())

print('---------------------------------------------')
print("* Shape of fnc_data:", fnc_data.shape)
print('---------------------------------------------')
display(fnc_data.head())

print('---------------------------------------------')
print("* Shape of trainscores_data:", trainscores_data.shape)
print('---------------------------------------------')
display(trainscores_data.head())

--------------------------------------------
* Shape of loading_data : (11754, 27)
--------------------------------------------

,Id,IC_01,IC_07,IC_05,IC_16,IC_26,IC_06,IC_10,IC_09,IC_18,...,IC_08,IC_03,IC_21,IC_28,IC_11,IC_20,IC_30,IC_22,IC_29,IC_14
0,10001,0.006070,0.014466,0.004136,0.000658,-0.002742,0.005033,0.016720,0.003484,0.001797,...,0.018246,0.023711,0.009177,-0.013929,0.030696,0.010496,0.002892,-0.023235,0.022177,0.017192
1,10002,0.009087,0.009291,0.007049,-0.002076,-0.002227,0.004605,0.012277,0.002946,0.004086,...,0.014635,0.022556,0.012004,-0.011814,0.022479,0.005739,0.002880,-0.016609,0.025543,0.014524
2,10003,0.008151,0.014684,0.010444,-0.005293,-0.002913,0.015042,0.017745,0.003930,-0.008021,...,0.019565,0.030616,0.018184,-0.010469,0.029799,0.015435,0.005211,-0.028882,0.031427,0.018164
3,10004,0.004675,0.000957,0.006154,-0.000429,-0.001222,0.011755,0.013010,0.000193,0.008075,...,0.002658,0.022266,0.005956,-0.010595,0.024078,-0.000319,0.005866,-0.015182,0.024476,0.014760
4,10005,-0.000398,0.006878,0.009051,0.000369,0.000336,0.010679,0.010352,0.003637,0.004180,...,0.009702,0.017257,0.005454,-0.008591,0.019416,0.000786,0.002692,-0.019814,0.017105,0.013316

---------------------------------------------
* Shape of fnc_data: (11754, 1379)
---------------------------------------------

,Id,SCN(53)_vs_SCN(69),SCN(98)_vs_SCN(69),SCN(99)_vs_SCN(69),SCN(45)_vs_SCN(69),ADN(21)_vs_SCN(69),ADN(56)_vs_SCN(69),SMN(3)_vs_SCN(69),SMN(9)_vs_SCN(69),SMN(2)_vs_SCN(69),...,CBN(13)_vs_DMN(94),CBN(18)_vs_DMN(94),CBN(4)_vs_DMN(94),CBN(7)_vs_DMN(94),CBN(18)_vs_CBN(13),CBN(4)_vs_CBN(13),CBN(7)_vs_CBN(13),CBN(4)_vs_CBN(18),CBN(7)_vs_CBN(18),CBN(7)_vs_CBN(4)
0,10001,0.368580,0.166876,0.438148,0.341007,-0.186251,0.049096,0.121417,-0.174268,-0.231578,...,-0.149279,0.552841,0.131046,0.335446,0.394867,-0.042853,0.124627,-0.060712,0.515964,0.290488
1,10002,0.151696,-0.024819,0.217504,0.418072,-0.227234,-0.064052,-0.143832,-0.118116,-0.054825,...,-0.214216,-0.039792,0.143014,-0.189962,0.498373,0.444231,0.592438,0.028649,0.705524,0.248327
2,10003,0.343415,0.109974,0.741641,0.578558,-0.676446,-0.436960,-0.295663,-0.377790,-0.344963,...,-0.154941,0.136850,-0.022361,0.137625,0.677972,0.409412,0.563892,0.438684,0.618204,0.284474
3,10004,0.132793,0.258255,0.490769,0.342717,0.091112,0.107969,0.029220,-0.026237,0.094742,...,-0.130339,0.309540,0.141469,0.030853,0.344394,0.214097,0.317556,0.012435,0.665937,0.081358
4,10005,0.291921,0.251254,0.416470,0.511719,-0.362626,-0.164710,-0.289059,-0.015537,-0.087316,...,-0.139525,0.394932,0.040443,0.428334,0.498837,0.266755,0.227379,0.028984,0.752343,0.087898

---------------------------------------------
* Shape of trainscores_data: (5877, 6)
---------------------------------------------

      Id        age  domain1_var1  domain1_var2  domain2_var1  domain2_var2
0  10001  57.436077     30.571975     62.553736     53.325130     51.427998
1  10002  59.580851     50.969456     67.470628     60.651856     58.311361
2  10004  71.413018     53.152498     58.012103     52.418389     62.536641
3  10005  66.532630           NaN           NaN     52.108977     69.993075
4  10007  38.617381     49.197021     65.674285     40.151376     34.096421

In [4]:
def checking_missing_data(data):
    total = data.isnull().sum().sort_values(ascending = False)
    percent = (data.isnull().sum()/data.isnull().count()*100).sort_values(ascending = False)
    missing_data  = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
    display(missing_data.head())
    
checking_missing_data(fnc_data)
checking_missing_data(loading_data)
checking_missing_data(trainscores_data)

                   Total  Percent
CBN(7)_vs_CBN(4)       0      0.0
CON(67)_vs_SMN(2)      0      0.0
CON(63)_vs_SMN(2)      0      0.0
CON(79)_vs_SMN(2)      0      0.0
CON(84)_vs_SMN(2)      0      0.0

       Total  Percent
IC_14      0      0.0
IC_24      0      0.0
IC_01      0      0.0
IC_07      0      0.0
IC_05      0      0.0

              Total   Percent
domain1_var2    438  7.452782
domain1_var1    438  7.452782
domain2_var2     39  0.663604
domain2_var1     39  0.663604
age               0  0.000000

In [52]:
y_data = trainscores_data.dropna()
trainable_id = y_data['Id']

xl_data = loading_data[loading_data['Id'].isin(trainable_id)]
xf_data = fnc_data[loading_data['Id'].isin(trainable_id)]

In [53]:
FNC_SCALE = 1/500
xf_data *= FNC_SCALE

In [57]:
y_data = y_data.drop('Id', axis=1)
xl_data = xl_data.drop('Id', axis=1)
xf_data = xf_data.drop('Id', axis=1)

In [58]:
pd.merge(xl_data, xf_data)

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [46]:
y_data = y_data.drop('Id', axis=1)
xl_data = xl_data.drop('Id', axis=1)
xf_data = xf_data.drop('Id', axis=1)

print('---------------------------------')
print("* Shape of x data:", xl_data.shape)
print('---------------------------------')
display(xl_data.head())

print('---------------------------------')
print("* Shape of x data:", xf_data.shape)
print('---------------------------------')
display(xf_data.head())

print('---------------------------------')
print("* Shape of y data:", y_data.shape)
print('---------------------------------')
display(y_data.head())

---------------------------------
* Shape of x data: (5434, 26)
---------------------------------

,IC_01,IC_07,IC_05,IC_16,IC_26,IC_06,IC_10,IC_09,IC_18,IC_04,...,IC_08,IC_03,IC_21,IC_28,IC_11,IC_20,IC_30,IC_22,IC_29,IC_14
0,0.006070,0.014466,0.004136,0.000658,-0.002742,0.005033,0.016720,0.003484,0.001797,0.029223,...,0.018246,0.023711,0.009177,-0.013929,0.030696,0.010496,0.002892,-0.023235,0.022177,0.017192
1,0.009087,0.009291,0.007049,-0.002076,-0.002227,0.004605,0.012277,0.002946,0.004086,0.027333,...,0.014635,0.022556,0.012004,-0.011814,0.022479,0.005739,0.002880,-0.016609,0.025543,0.014524
3,0.004675,0.000957,0.006154,-0.000429,-0.001222,0.011755,0.013010,0.000193,0.008075,0.027787,...,0.002658,0.022266,0.005956,-0.010595,0.024078,-0.000319,0.005866,-0.015182,0.024476,0.014760
6,0.005192,0.010585,0.012160,-0.000920,-0.002255,0.011416,0.013838,0.001929,0.003051,0.031867,...,0.006218,0.017332,0.016791,-0.009594,0.019757,0.003731,0.000733,-0.008462,0.026733,0.014358
7,0.007745,0.009748,0.009356,-0.004219,-0.003852,0.012024,0.010205,0.002903,0.000870,0.037699,...,0.012880,0.016781,0.014109,-0.006456,0.025408,0.004483,0.000688,-0.013822,0.029328,0.010936

---------------------------------
* Shape of x data: (5434, 1378)
---------------------------------

,SCN(53)_vs_SCN(69),SCN(98)_vs_SCN(69),SCN(99)_vs_SCN(69),SCN(45)_vs_SCN(69),ADN(21)_vs_SCN(69),ADN(56)_vs_SCN(69),SMN(3)_vs_SCN(69),SMN(9)_vs_SCN(69),SMN(2)_vs_SCN(69),SMN(11)_vs_SCN(69),...,CBN(13)_vs_DMN(94),CBN(18)_vs_DMN(94),CBN(4)_vs_DMN(94),CBN(7)_vs_DMN(94),CBN(18)_vs_CBN(13),CBN(4)_vs_CBN(13),CBN(7)_vs_CBN(13),CBN(4)_vs_CBN(18),CBN(7)_vs_CBN(18),CBN(7)_vs_CBN(4)
0,0.368580,0.166876,0.438148,0.341007,-0.186251,0.049096,0.121417,-0.174268,-0.231578,0.000947,...,-0.149279,0.552841,0.131046,0.335446,0.394867,-0.042853,0.124627,-0.060712,0.515964,0.290488
1,0.151696,-0.024819,0.217504,0.418072,-0.227234,-0.064052,-0.143832,-0.118116,-0.054825,0.038732,...,-0.214216,-0.039792,0.143014,-0.189962,0.498373,0.444231,0.592438,0.028649,0.705524,0.248327
3,0.132793,0.258255,0.490769,0.342717,0.091112,0.107969,0.029220,-0.026237,0.094742,0.098802,...,-0.130339,0.309540,0.141469,0.030853,0.344394,0.214097,0.317556,0.012435,0.665937,0.081358
6,0.023588,0.251784,0.571558,0.338475,-0.104604,-0.199365,-0.241106,-0.190934,-0.028470,-0.015859,...,-0.150218,0.408926,0.072004,0.157582,0.532046,0.355448,0.462675,0.161005,0.703679,0.293607
7,0.153818,0.218085,0.488672,0.432211,-0.259662,-0.081578,-0.058116,-0.188684,-0.070860,-0.176214,...,-0.080562,0.005339,-0.386757,0.020546,0.518383,0.408071,0.465851,0.112785,0.574596,0.178531

---------------------------------
* Shape of y data: (5434, 5)
---------------------------------

         age  domain1_var1  domain1_var2  domain2_var1  domain2_var2
0  57.436077     30.571975     62.553736     53.325130     51.427998
1  59.580851     50.969456     67.470628     60.651856     58.311361
2  71.413018     53.152498     58.012103     52.418389     62.536641
4  38.617381     49.197021     65.674285     40.151376     34.096421
5  35.326582     15.769168     65.782269     44.643805     50.448485

In [48]:
y_id = y_data.columns
xl_id = xl_data.columns
xf_id = xf_data.columns

In [49]:
xl_data = np.array(xl_data)
xf_data = np.array(xf_data)
y_data = np.array(y_data)

xl_id = np.array(xl_id)
xf_id = np.array(xf_id)
y_id = np.array(y_id)

print(xl_data.shape, xf_data.shape, y_data.shape)

(5434, 26) (5434, 1378) (5434, 5)

In [51]:
from def_dir import *

saveDir = 'eda/1-dropna/'
if_not_make(saveDir)

np.save('%s/xl_data'%(saveDir), xl_data)
np.save('%s/xf_data'%(saveDir), xf_data)
np.save('%s/y_data'%(saveDir), y_data)

np.save('%s/y_id'%(saveDir), y_id)
np.save('%s/xl_id'%(saveDir), xl_id)
np.save('%s/xf_id'%(saveDir), xf_id)